
{% extends 'shopping/base.html' %}
{%load static%}
{%block title%}MY KART ⭐{%endblock title %}

{% block content %}

<div class="container-fluid pt-3">
    <div class="row">
        <div class="col-md-8">
            
            <h1 style="color:lawngreen"><b>Items in the Cart are</b></h1>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Product</th>
                        <th>Rate</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                   
                    {% for cp in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{cp.item.title}}</td>
                        <td>{{cp.item.discount_price}}</td>
                        <td>{{cp.quantity}}</td>
                        <td>{{cp.sub_total}}</td>
                        <td>
                            
                            <a href="{% url 'shopping:inc' cp.id %}" class="btn btn-primary"> + </a>
                            <a href="{% url 'shopping:dcr' cp.id %}" class="btn btn-warning"> - </a>
                            <a href="{% url 'shopping:rmv' cp.id %}" class="btn btn-danger"> x </a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4" class="text-right">Total</th>
                        <th>{{total}}</th>
                      
                    </tr>
                   
                    <tr>
                        <th><a class="btn btn-info" href="{% url 'shopping:checkout' %}"> Checkout </a></th>
                    </tr>
              
                </tbody>
            </table>
        </div>
    </div>
</div>
{%endblock content%}
